* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f7fc;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-card {
  width: 100%;
  max-width: 450px;
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.auth-card h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #1f2937;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.tabs button {
  flex: 1;
  border: none;
  padding: 12px;
  border-radius: 8px;
  background: #e5e7eb;
  cursor: pointer;
  transition: .3s;
}

.tabs button.active {
  background: #2563eb;
  color: white;
}

.tabs button:hover {
  background: #2563eb;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1f2937;
  font-size: 32px;
  font-weight: 700;

}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: bold;
}

.input-group input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
}

.input-group input:focus {
  outline: none;
  border-color: #2563eb;
}

.btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.btn:hover {
  background: #1d4ed8;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.success {
  color: green;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

.switch-form {
  text-align: center;
  margin-top: 20px;
}

.switch-form p {
  color: #555;
  font-size: 15px;
}

.switch-form span {
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.switch-form span:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {

  .auth-card {
    padding: 20px;
  }

  .tabs {
    flex-direction: column;
  }

}